@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.fg2 {
  flex-grow: 2;
}

.fg3 {
  flex-grow: 3;
}

.logo {
  position: relative;
  margin: 40px 0;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 8px;
    display: block;
    width: 160px;
    height: 1px;
    background: #aeaeae;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.marked {
  color: #fff;
  background: #ff3d00;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

.button {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ff3d00;
  font-size: 24px;
  background: #fff;
  color: #ff3d00;
  border-radius: 4px;

  &.active {
    color: #fff;
    background: #ff3d00;
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 652px) {
    margin: 10px;
  }
}

.container,
.card {
  display: flex;
}

.container {
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 40%;
  &.hidden {
    display: none;
  }

  @media (max-width: 1140px) {
    width: 50%;
  }

  @media (max-width: 910px) {
    width: 480px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.img {
  min-width: 237px;
  align-self: flex-start;
  @media (max-width: 480px) {
    width: 100%;
  }
}

.text-block {
  margin-left: 10px;
  @media (max-width: 480px) {
    margin: 10px 0;
  }
}

.h-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.likes {
  position: relative;
  text-align: end;
  color: #ff3d00;
  font-size: 14px;
  &::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 10px;
    display: block;
    width: 10px;
    height: 10px;
    background: url("./assets/heart.svg");
  }
}

.hr {
  background: #d9d9d9;
}

.card-text {
  font-size: 15px;
  line-height: 146%;
  margin-bottom: 6px;
}

.card-a {
  font-size: 14px;
  color: #ff3d00;
  font-weight: 600;
  text-decoration: none;
}
