@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #cc5520;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 76%;

  @media (max-width: 1150px) {
    width: 96%;
  }
}

.df {
  display: flex;
}

.dfi {
  display: inline-flex;
}

.hidden {
  display: none;
}

.gradient-box {
  background: linear-gradient(#ffe9d0 30%, #ffffff 70%);
}

.header-container {
  padding-top: 40px;
  padding-bottom: 60px;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.header-container-active {
  @media (max-width: 600px) {
    position: fixed;
    z-index: 99;
    padding-bottom: 0;
    background: linear-gradient(#ffe9d0 30%, #ffffff 70%);
  }
}

.logo {
  color: #532322;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.lg-span {
  color: #fff;
  background-color: #532322;
}

.mnu {
  margin-right: 100px;

  @media (max-width: 600px) {
    width: 100%;
    margin-right: 0;
  }
}

.mnu-ul {
  display: flex;
  list-style: none;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.mnu-li {
  margin-right: 40px;
  @media (max-width: 600px) {
    margin-right: 0;
    height: 94px;
    justify-content: center;
    align-items: center;
  }
}

.mnu-link {
  text-decoration: none;
  color: #0f001a;
  font-family: "Roboto", sans-serif;
  &:hover {
    color: var(--main-color);
  }

  @media (max-width: 600px) {
    font-size: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.mnu-link-active {
  @media (max-width: 600px) {
    background-color: var(--main-color);
    color: #fff;
  }
}

.footer-links,
.footer1,
.btn-l {
  background-color: var(--main-color);
  color: #fff;
}

.close-mnu {
  display: none;
  @media (max-width: 600px) {
    height: 64px;
    background: none;
    border: none;
    font-size: 17px;
    color: #969595;
    display: block;
  }
}

.mnu-open-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  backdrop-filter: blur(5px);
}

.section {
  font-family: "Roboto", sans-serif;
}

.mock-block {
  margin-bottom: 154px;
  justify-content: space-between;

  @media (max-width: 1130px) {
    margin-bottom: 100px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.mock-block-p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 40px;
}

.gp-big {
  margin-right: 10px;
}

.mock-block-text {
  width: 50%;
  align-content: center;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.mock-block-h2 {
  font-size: 50px;
  font-weight: normal;

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.services {
  @media (max-width: 600px) {
    display: none;
  }
}

.services-bottom {
  @media (max-width: 800px) {
    margin: 30px 0;
  }
}

.services-mobile {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}

.mock-block-img {
  max-width: 442px;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.mock-img {
  width: 100%;
}

.cards-block {
  justify-content: center;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  width: 380px;
  height: 525px;
  position: relative;
  box-shadow: #ffe9d0 0 0 30px;
  border-radius: 10px;
  padding: 30px;
  margin-top: 60px;
  margin-right: 60px;
  background: #fff;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 154px;
    height: 154px;
    background: url(./assets/dots.svg);
    z-index: -1;
  }

  @media (max-width: 1130px) {
    margin: 20px;
    width: 324px;
    height: 480px;
    &::before {
      display: none;
    }
  }

  @media (max-width: 800px) {
    margin-right: 0;
    margin-top: 30px;
    width: 355px;
    height: 490px;
  }
}

.card-1 {
  align-self: flex-end;
  &::before {
    bottom: -139px;
    left: -88px;
  }

  @media (max-width: 800px) {
    align-self: center;
  }
}
.card-2 {
  &::before {
    top: -81px;
    right: -84px;
  }
}
.card-3 {
  &::before {
    bottom: -81px;
    right: -84px;
  }
}

.card-col {
  flex-direction: column;
}

.card-h2 {
  max-width: 442px;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  margin-right: 60px;
  margin-top: 60px;

  @media (max-width: 800px) {
    max-width: 100%;
    margin-right: 0;
    margin-top: 20px;
    font-size: 36px;
    line-height: 48px;
  }
}

.card-img {
  max-width: 230px;
  max-height: 230px;
  position: relative;
  top: 42px;
  right: -36px;
}

.card-link {
  position: relative;
  text-decoration: none;
  color: var(--main-color);
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -41px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--main-color);
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: -40px;
    display: block;
    transform: rotate(-44deg);
    width: 8px;
    height: 8px;
    border-bottom: solid var(--main-color) 2px;
    border-right: solid var(--main-color) 2px;
  }
}

.card-h {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.card-p {
  line-height: 24px;
  margin-bottom: 40px;
}

.footer1 {
  margin-top: 160px;
  padding-bottom: 60px;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 1130px) {
    margin-top: 100px;
  }

  @media (max-width: 600px) {
    margin-top: 40px;
  }
}

.footer1-h3 {
  margin: 60px 0;
  justify-content: center;
  width: 100%;
  font-size: 26px;
  font-weight: 400;
}

.footer1-item {
  align-items: center;
  flex-direction: column;
  width: 250px;

  @media (max-width: 600px) {
    margin-top: 10px;
  }
}

.footer1-img {
  margin-bottom: 30px;
  width: 45px;
  height: 45px;
}

.footer1-p {
  text-align: center;
}

.section-2-h3 {
  width: 78%;
  margin: 100px 0 80px;
  font-size: 50px;
  font-weight: 400;
  text-align: end;
  @media (max-width: 600px) {
    width: 100%;
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
  }
}

.section-2-wrap {
  width: 80%;

  @media (max-width: 800px) {
    width: 96%;
    flex-direction: column;
    margin: 0 auto;
  }
}

.section-2-fox {
  position: relative;
  width: 60%;
  height: 400px;
  background-color: #ffe9d0;

  @media (max-width: 1130px) {
    height: 264px;
  }

  @media (max-width: 800px) {
    width: 100%;
    height: 210px;
  }
}

.section-2-fox-img {
  position: absolute;
  top: -35%;
  right: 5%;
  max-height: 438px;
  max-width: 382px;

  @media (max-width: 1130px) {
    max-width: 254px;
  }

  @media (max-width: 800px) {
    max-height: 222px;
    right: 30%;
  }
}

.section-2-qblock {
  padding-left: 60px;
  position: relative;
  justify-content: center;
  width: 40%;
  flex-direction: column;

  @media (max-width: 1130px) {
    padding-left: 24px;
  }

  @media (max-width: 800px) {
    width: 100%;
    padding-left: 0;
  }
}

.quote-img {
  width: 50px;
  height: 50px;
  opacity: 0.5;

  @media (max-width: 800px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 116px;
    height: 116px;
  }
}

.quote {
  margin: 20px 0;

  @media (max-width: 800px) {
    margin-top: 64px;
  }
}

.quote,
.text-col-p {
  font-size: 16px;
  line-height: 24px;
  color: #0f001a;
}

.text-col-p {
  width: 76%;
  margin: 20px 0 60px 0;
  text-align: center;

  @media (max-width: 800px) {
    margin: 0;
  }
}

.text-col {
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.footer-q {
  font-size: 18px;
  font-weight: regular;
}

.btn {
  position: relative;
  width: 80px;
  height: 80px;
  border: none;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 800px) {
    width: 68px;
    height: 68px;

    &::before {
      width: 13px;
      height: 13px;
    }
  }
}

.btn-l {
  border-radius: 4px 0 0 4px;
  &::before {
    transform: rotate(-45deg);
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
  }
}

.btn-r {
  box-shadow: 3px 3px 6px lightgray;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  &::before {
    top: 0;
    left: 0;
    transform: rotate(45deg);
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
  }
}

.nav-q {
  position: absolute;
  right: 0;
  bottom: -40px;

  @media (max-width: 1030px) {
    bottom: -66px;
  }

  @media (max-width: 600px) {
    bottom: -66px;
  }
}

.r-section {
  position: relative;
}

.dots-block {
  position: absolute;
  top: 50%;
  right: 0;
  width: 154px;
  height: 154px;
  background: url(./assets/dots.svg);

  @media (max-width: 800px) {
    display: none;
  }
}

.mockup-blk {
  padding: 140px 0;

  @media (max-width: 1150px) {
    width: 96%;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 0;
  }
}

.mockup3 {
  @media (max-width: 1130px) {
    width: 400px;
  }
}

.mockup-col {
  @media (max-width: 800px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.f-h3 {
  font-size: 25px;
  font-weight: 400;
}

.footer-links {
  padding-top: 40px;
}

.f-links {
  justify-content: space-between;
  padding-bottom: 40px;

  @media (max-width: 1130px) {
    flex-wrap: wrap;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.f-h2-a {
  color: #fff;
  font-size: 18px;
}

.footer-col {
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer-link-a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.f-links-ul {
  list-style: none;
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.f-links-li {
  margin-top: 10px;

  @media (max-width: 600px) {
    text-align: center;
  }
}

.f-p {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  max-width: 364px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 20px;

  @media (max-width: 1130px) {
    max-width: 264px;
  }

  @media (max-width: 600px) {
    max-width: 100%;
    text-align: center;
  }
}

.f-h2 {
  @media (max-width: 600px) {
    text-align: center;
  }
}

.f-h2-aa {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.hr {
  background-color: #fff;
  @media (max-width: 600px) {
    display: none;
  }
}

.hr-mobile {
  display: none;
  @media (max-width: 600px) {
    display: block;
    order: 2;
    position: relative;
    width: 104%;
    left: -2%;
  }
}

.f-input {
  width: 268px;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  outline: none;

  @media (max-width: 1130px) {
    width: 220px;
  }
}

.f-button {
  width: 116px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: var(--main-color);
  &:hover {
    cursor: pointer;
  }
}

.f-input,
.f-button {
  @media (max-width: 600px) {
    margin-top: 10px;
    width: 100%;
  }
}

.under-footer {
  padding: 20px;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 0;
  }
}

.rights {
  font-size: 11px;
  @media (max-width: 600px) {
    order: 3;
    text-align: center;
    padding: 10px 0;
  }
}

.socials {
  @media (max-width: 600px) {
    order: 1;
    text-align: center;
    padding-bottom: 10px;
  }
}

.rights-a {
  margin-right: 10px;
}
